@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fca311;
    --navbar-bg: #14213d;
    --text-color-light: #fff;
    --hero-section-bg: #f1f1f1f1;
    --text-color-dark: #000;
    --font-family: 'Inter', sans-serif;
}


.hero-section {
    background:var(--hero-section-bg);
    min-height: 100vh
}

.hero-btn, .view-resume, .submit-message, .live-preview-btn, .github-code-btn {
    background: var(--navbar-bg);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color:var(--text-color-light)
}

.hero-btn:hover, .view-resume:hover, .submit-message:hover, .live-preview-btn:hover, .github-code-btn:hover {
    background: var(--text-color-dark);
    border: 2px solid var(--primary-color);
    color:var(--text-color-light)
}

.about-section {
    background: url('https://static.vecteezy.com/system/resources/previews/001/968/089/original/light-blue-yellow-abstract-watercolor-background-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}


.about-img {
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--primary-color)
}

.about-description {
    line-height: 150%;
    letter-spacing: 1.5px;
}

h3 span, h2 span, h1 span {
    color: var(--primary-color)
}

.social-icon:hover {
    color: var(--primary-color)!important;;
    transform: scale(1.2)
}

.card {
    border-radius: 10px;
    border: 2px solid var(--text-color-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-section {
    background: url('https://c4.wallpaperflare.com/wallpaper/437/832/928/yellow-blue-ukraine-the-flag-of-ukraine-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.contact-section {
    background: var(--navbar-bg)
}

.toast-container {
    top:45px
}